PG_PASS=
AUTHENTIK_SECRET_KEY=
TS_TLD=

# SMTP Host Emails are sent to
AUTHENTIK_EMAIL__HOST=
# Optionally authenticate (don't add quotation marks to your password)
AUTHENTIK_EMAIL__USERNAME=
AUTHENTIK_EMAIL__PASSWORD=
AUTHENTIK_EMAIL__PORT=
AUTHENTIK_EMAIL__USE_TLS=
AUTHENTIK_EMAIL__USE_SSL=
AUTHENTIK_EMAIL__TIMEOUT=
# Email address authentik will send from, should have a correct @domain
AUTHENTIK_EMAIL__FROM=

DOMAINNAME=
AUTHENTIK_TAG=